# MoodMate Backend Environment Variables
SECRET_KEY=kasun
DEBUG=True
HOST=0.0.0.0
PORT=5000
FACE_MODEL_PATH=models/facial_emotion_model.h5
VOICE_MODEL_PATH=models/voice_emotion_model.h5
DATA_DIR=data
CORS_ORIGINS=http://localhost:*,http://127.0.0.1:*
MAX_CONTENT_LENGTH=16777216